*.o
*.a
*.so
build/
build_sim/
install/
__pycache__/
devel/
img/
cmake-build-debug/
.idea/
html/
latex/
*.md.html
gmon.out
firmware/
Debug/
.vs/
vehicle_raspberry_pi_zero_w/cross_compile/tools/
rtidds/
*.glade~
/tools/map_print2/*.mat
/.vscode
/ParamServer/yaml-cpp
Log_*.csv
*.txt
ips2/debug*.png