[submodule "cpm_base"]
	path = cpm_base
	url = https://git.rwth-aachen.de/CPM/Project/Lab/cpm_base.git
	branch = topic_utils
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
