*.o
*.a
*.so
build/
build_arm/
build_arm_sim/
build_x64_sim/
build_sim/
install/
__pycache__/
devel/
img/
cmake-build-debug/
.idea/
html/
latex/
*.md.html
gmon.out
firmware/
Debug/
.vs/
vehicle_raspberry_pi_zero_w/cross_compile/tools/
rtidds/
*.glade~
/tools/map_print2/*.mat
/.vscode
/ParamServer/yaml-cpp
Log_*.csv
core
ips2/debug*.png
output/
*.mat
package.tar.gz
vehicle_raspberry_firmware/package/
matlab_scripts/vehicle_dynamics_identification_and_mpc/casadi_mpc_fn*
core
matlab_scripts/vehicle_dynamics_identification_and_mpc/documentation
matlab_scripts/map_print/map_print2/lane_graph.cpp
/hlc/middleware/idl_compiled
std*.txt
/hlc/matlab/IDL_gen/
nuc_apache_package
hlc/middleware.txt
hlc/hlc.txt
*.log
hlc/hlc_*.txt
hlc/matlab/dds_idl_matlab
command_line_arguments_test.bash
