*.o
*.a
*.so
*.csv
*.gz
*.log
*.mat
*.md.html
build/
build_arm/
build_arm_sim/
build_x64_sim/
build_sim/
install/
__pycache__/
devel/
img/
cmake-build-debug/
.idea/
html/
latex/
gmon.out
firmware/
Debug/
.vs/
vehicle_raspberry_pi_zero_w/cross_compile/tools/
rtidds/
*.glade~
tools/map_print2/*.mat
.vscode
ParamServer/yaml-cpp
Log_*.csv
core
indoor_positioning_system/debug*.png
output/
package.tar.gz
mid_level_controller/package/
tools/vehicle_dynamics_identification_and_mpc/casadi_mpc_fn*
core
tools/vehicle_dynamics_identification_and_mpc/documentation
tools/map_print/map_print2/lane_graph.cpp
std*.txt
nuc_apache_package
middleware.txt
high_level_controller/high_level_controller.txt
high_level_controller/hlc_*.txt
middleware/idl_compiled
high_level_controller/matlab/IDL_gen/
high_level_controller/matlab/dds_idl_matlab
command_line_arguments_test.bash
lcc_interface/
cpm_node/
cpm_lib/dds_idl_cpp
cpm_lib/dds_idl_matlab
cpm_lib/include/cpm/dds
cpm_lib/cpm_library_package
build_arm/
lab_control_center/file_dialog_open_config.txt
lab_control_center/file_dialog_save_config.txt
