#grid_vehicle_monitor label {
    padding: 4px;
    color: black;
    font-weight: bold;
}

#grid_vehicle_monitor label.ok {
    color: white;
    background-color: #080;
}

#grid_vehicle_monitor label.warn {
    color: white;
    background-color: #eb0;
}

#grid_vehicle_monitor label.alert {
    color: white;
    background-color: #f00;
}


#parameters_start_server_toggle{
    background-image: linear-gradient(#B71C1C);
    background-color: #B71C1C;
    color: white;
}

#parameters_start_server_toggle:checked{
    background-image: linear-gradient(#33691E);
    background-color: #33691E;
    color: white;
}

.vehicle_toggle{
    /* background-image: linear-gradient(#B71C1C);
    background-color: #B71C1C; */
    color: #B71C1C;
}

.vehicle_toggle:checked{
    /* background-image: linear-gradient(#33691E);
    background-color: #33691E; */
    color: #33691E;
}

#file_chooser_abort{
    background-image: linear-gradient(#B71C1C);
    background-color: #B71C1C;
    color: white;
}

#file_chooser_load{
    background-image: linear-gradient(#33691E);
    background-color: #33691E;
    color: white;
}

#file_saver_abort{
    background-image: linear-gradient(#B71C1C);
    background-color: #B71C1C;
    color: white;
}

#file_saver_save{
    background-image: linear-gradient(#33691E);
    background-color: #33691E;
    color: white;
}

.borderless{
    border:none
}

.button_box{
    background-image: linear-gradient(#C7C7C7);
    background-color: #C7C7C7;
}

.monitoring{
    background-image: linear-gradient(#FAFAFA);
    background-color: #FAFAFA;
}

.menu_bar{
    background-image: linear-gradient(#FFFFFF);
    background-color: #FFFFFF;
}