#grid_vehicle_monitor label {
    padding: 4px;
    color: black;
    font-weight: bold;
}

#grid_vehicle_monitor label.ok {
    color: white;
    background-color: #080;
}

#grid_vehicle_monitor label.warn {
    color: white;
    background-color: #eb0;
}

#grid_vehicle_monitor label.alert {
    color: white;
    background-color: #f00;
}
